*{
    margin: 0;
}

div{
    background-color:#3b5998; 
    padding:10px;
    font-size: 50px;
    color:white;
    text-indent: 180px;
    font-family: red-serif;
    height: 75px; 
}

label{
    font-size: 18px;
    position: absolute;
}

/* em_ps = email or phone text */
#em_ph{
    right: 390px;
}

/* ps = password text */
#ps{
    right:230px;
}

input{
    position: absolute;
    top: 40px;    
}

/* input box for em_ps */
#em_ph_input{
    right:340px;
}
    
/* input box for ps */
#ps_input{
    right: 140px;
}
    
/* log_bt = log in button */
#log_bt{
    top: 40px;
    right: 65px;
    cursor: pointer;
}

a{
      font-size: 15px;
      color: white;
      text-decoration: none;
      position: absolute;
      top: 70px;
      right:395px;
}

main{
    background-color:#f7f7f7;
    color: black;
    font-size: 40px;
    text-indent: 800px;
    height: 900px;
    padding: 10px;
}
  
    
h1{
     font-size: 20px;
     bottom: 10px;
}

/* the input box that are little */
.down_small_input{
     position: absolute;
     top: 205px;
     padding: 8px;
     left: 820px;
    }


 /* Ln = Last name input box */
#Ln_input{
     left: 1005px;
}

/* the input boxes that are big */
.down_input{
 position: absolute;
 left: 820px;
 width: 360px;
 padding: 8px;
}

/* em_ph input box for the down div or main now */
#em_ph_down_input{
    top: 260px;
}

/* ps input box for down div or main now */
#ps_down_input{
    top: 320px;
}
  
/* bth = birthday input box */
#bth_input{
    top: 400px;
}

/* The texts that are in the down div and grey in color */
.down_text{
 font-size: 25px;
 left: 20px;
 color:#848482;
 position:absolute;
}

/* the birdthday text */
#birth{
    top: 365px;
}

/* the gender text */
#gend{
    top: 450px;
}

/* The texts that are not grey in color */
.down_non_opac_text{
 font-size: 18px;
 position:absolute;
  top:490px;
}

/* male text */
#ml_text{
    right:660px;
}

/* female text */
#fml_text{
    right:495px;
}

input[type="radio"]{
  position: relative;
  top: 205px;
}

input[value="female"]{
    left: 1000px;
}

input[value="male"]{
    left: 860px;
}

img{
    height: 200px;
    width: 200px;
    position: absolute;
    top:200px;
    left: 300px;
}

img:hover{
 border:1px solid powderblue;
 display: inline-block;
}